

body{
    background-color: #251C1C;
    margin: 0;
}

.title-div {
    background-color: #D13E3E;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 20%;
}

.title-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.start button{
    color: whitesmoke;
    padding: 10px 30px;
    border: none;
    background: none;
    font-size: 35px;
    font-family: "VT323";
}

.start button:hover{
    font-size: 40px;
}

span {
    display: inline;
    position: fixed;
    bottom: 0;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}